{% include 'header.html' %}

<head>
<style>
    form {
        float: left;
        margin-top: 5px;
        margin-left: 5px;
    }

    #filtes {
        margin-bottom: 15%;
        margin-left: 5%;
    }
</style>
</head>

<body>

    {% block content %}

    <div class="container">

        <div class="row">
            <h2>Agents</h2>
            <br>
            <div>
            {% for agent in agents %}
                <div class="col-sm-2 col-md-4">
                    <div class="thumbnail">
                        {% set avatar = agent.name[:-17] + '.png' %}
                        <a href="/session/agent/{{ agent.id }}">
                            <img src="{{url_for('static', filename=avatar)}}" alt="...">
                        </a>
                        <div class="caption">
                            <h5>Name: {{ agent.name }}</h5>
                            <p>State: {{ agent.state}}</p>
                            <p>Started at: {{ agent.date.hour }}:{{ agent.date.minute }}:{{ agent.date.second }} - {{ agent.date.day }}/{{ agent.date.month }}/{{ agent.date.year }}</p>
                        </div>
                        <div class="form-group" id="filtes">
                            <form action="{{ url_for('manageAgent') }}" method="post">
                                <input type="hidden" name="start" value="{{ agent.id }}">
                                <input class="btn btn-success" type="submit" value="Start Agent">
                            </form>

                            <form action="{{ url_for('manageAgent') }}" method="post">
                                <input type="hidden" name="stop" value="{{ agent.id }}">
                                <input class="btn btn-warning" type="submit" value="Pause Agent">
                            </form>

                            <form action="{{ url_for('manageAgent') }}" method="post">
                                <input type="hidden" name="kill" value="{{ agent.id }}">
                                <input class="btn btn-danger" type="submit" value="Kill Agent">
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        
    </div>

    {% endblock %}

    <script>
        function loadData() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    var response = $($.parseHTML(xhttp.responseText));
                    $(".list-group").html(response.find(".list-group").html());
                }
            };
            xhttp.open("GET", "http://localhost:5000/session/{{ session.id }}", true);
            xhttp.send();
            setTimeout(loadData, 2000);
        };
        $(document).ready(function() {
            // run the first time; all subsequent calls will take care of themselves
            setTimeout(loadData, 2000);
        });
    </script>
</body>

{% include 'footer.html' %}
