<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    </script>
    <title>Python Agent DEvelopment framework</title>
</head>

{% extends "bootstrap/base.html" %}

{% block title %} PADE {% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">PADE</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/diagrams">Diagrams</a></li>
                <li><a href="/">Manage Agents</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Sign In</a></li>
            {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
