{% include 'header.html' %}

<body>

    {% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container">
        <div class="page-header">
            <h1>Hello, PADE!</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2>Local Sessions</h2>
                <div class="list-group">
                    {% for session in sessions %}
                        <a href="/session/{{ session.id }}" class="list-group-item">
                            <h4>Sessão: {{ session.name }}</h4>
                            <p>Inicio: {{ session.date.hour }}:{{ session.date.minute }}:{{ session.date.second }} - {{ session.date.day }}/{{ session.date.month }}/{{ session.date.year }}</p>
                            <p>Estado: {{ session.state }}</p>
                            <p id="name" type="hidden" value="{{ session.name }}"></p>
                            <p id="id" type="hidden" value={{ session.id }}></p>
                            <p id="inicio" type="hidden" value="{{ session.date.hour }}:{{ session.date.minute }}:{{ session.date.second }} - {{ session.date.day }}/{{ session.date.month }}/{{ session.date.year }}"></p>
                            <p id="estado" type="hidden" value="{{ session.state }}"></p>
                        </a>
                    {% endfor %}
                </div>

                {% if rsessions %}
                    <h2>Remote Sessions</h2>
                    <div class="list-group">
                        {% for rsession in rsessions %}
                            <a href="/rsession/{{ rsession.id }}" class="list-group-item">
                                <h4>ID: {{ rsession.id }}</h4>
                                <p>Host: {{ rsession.ip }}</p>
                                <p>Last Updated: {{ rsession.last_updated.hour }}:{{ rsession.last_updated.minute }}:{{ rsession.last_updated.second }} - {{ rsession.last_updated.day }}/{{ rsession.last_updated.month }}/{{ rsession.last_updated.year }}</p>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}

                <a href="/sessions">
                    <button type="button" class="btn btn-primary">Add Remote PADE Session</button>
                </a>
            </div>

            <div class="col-sm-8" id="messagesTable" style="overflow: auto">
                <!-- Table will be rendered via AJAX -->
            </div>

        </div>
        <!-- TODO - Implement function to create a new agent -->
        <!--<div class="nav navbar-nav navbar-left">
            <a href="#"><button class="btn btn-default">Create new agent</button></a>
        </div>-->
    </div>

    {% endblock %}

    <script type="text/javascript">
        $(document).ready(function(){
          refreshTable();
        });

        function refreshTable(){
            $('#messagesTable').load('/messagesTable', function(){
               setTimeout(refreshTable, 1000);
            });
        }
    </script>
</body>

{% include 'footer.html' %}
