<!DOCTYPE html>
<html lang="en">

    {% extends "bootstrap/base.html" %}
    {% import "bootstrap/wtf.html" as wtf %}

    {% block head %}
        {{ super() }}
        <meta charset="UTF-8">
        <link href="/static/signin.css" rel="stylesheet">
    {% endblock %}

    {% block title %} Python Agent DEvelopment framework {% endblock %}

    {% block content %}
    <div class="container">

        {% with messages = get_flashed_messages(with_categories=true) %}
            <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible" role="alert" style="width:800px; margin:0 auto;">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <!-- <strong>Title</strong> --> {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
        {% endwith %}

        <form class="form-signin" method="POST">

            <p align="center">
                <img src="{{url_for('static', filename='pade_logo.png')}}" alt="PADE LOGO" height="180" width="180">
            </p>

            {{ wtf.quick_form(form) }}


            {% if countUsers == 0 %}

                <br>
                <br>
                <br>
                <p align="center">
                    <a href="{{ url_for('register') }}"><button class="btn btn-success btn-lg">New User</button></a>
                </p>

            {% endif %}

        </form>

    </div>
    {% endblock %}
</html>
