{% include 'header.html' %}

<body>

<style>
    .btn-primary {
        display: inline-block;
        float: right;
        margin: 10px;
    }
</style>

{% block content %}

<div class="container">

    <form action="/diagrams" method="post" style="margin-bottom: 10px">
        <button type="submit" class="btn btn-primary">Messages Diagram View</button>
    </form>

    <div class="row">

        <h2>Messages</h2>

        <div class="row" style="padding-bottom: 10px; padding-top: 20px">

            <h4>Search in Messages</h4>

            <form class="form-inline" method="POST" action="{{ url_for('messages') }}">

                <div class="form-group" style="padding-right: 10px; padding-left: 10px">
                    <input name="content" type="text" class="form-control" placeholder="Message Content">
                </div>

                <button type="submit" class="btn btn-default">Search</button>

            </form>
        </div>

        <div class="row" style="padding-bottom: 30px; padding-top: 10px">

            <h4>Filter Messages</h4>

            <form class="form-inline" method="POST" action="{{ url_for('messages') }}">

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Sender</span>
                        <select name="sender" class="selectpicker form-control">
                            <option value="">All</option>

                            {% for sender in senders %}
                            <option value="{{ sender }}">{{ sender }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="input-group" style="padding-right: 5px; padding-left: 5px">
                        <span class="input-group-addon">Perfomative</span>
                        <select name="performative" class="selectpicker form-control">
                            <option value="">All</option>

                            {% for performative in performatives %}
                            <option value="{{ performative }}">{{ performative }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row" style="padding-left: 15px; padding-top: 10px">
                    <div class="input-group">
                        <span class="input-group-addon">From</span>
                        <input name="timeStart" type="datetime-local" class="form-control">
                    </div>

                    <div class="input-group" style="padding-right: 5px; padding-left: 5px">
                        <span class="input-group-addon">To</span>
                        <input name="timeStop" type="datetime-local" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-default">Filter</button>
                </div>

            </form>
        </div>

        <div class="row" id="messagesList">
            <!-- Messages will be rendered via AJAX -->
        </div>

    </div>
</div>

{% endblock %}

<script type="text/javascript">
    $(document).ready(function () {
        refreshTable();
    });

    function refreshTable() {
        $('#messagesList').load('/messagesList', function () {
            setTimeout(refreshTable, 1000);
        });
    }
</script>


</body>

{% include 'footer.html' %}
