{% include 'header.html' %}

<body>

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h2>Remote Session</h2>

            <form class="form-inline" method="POST" action="{{ url_for('manage_sessions') }}">

                <div class="form-group">
                    <input type="text" class="form-control" minlength="7" maxlength="15" size="15" placeholder="Host IP"
                           pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$">
                </div>

                <button type="submit" class="btn btn-default">Conect!</button>

            </form>

    </div>
</div>

{% endblock %}

</body>

{% include 'footer.html' %}
